
/*p elementlerinden birinci olanı seç demek*/
p:first-child{
color: green;
}
/*p elementlerinden en son olan elementi seçer*/
p:last-child{
    color: red;
}
/*sondan ikinci elemanı seçer*/
p:nth-last-child(2)
{
    color: grey;
}
/*ilk sıradan verilen değeri seçer*/
p:nth-of-type(3){
    color: blue;
}
/*sondan verilen değeri seçer*/
p:nth-last-of-type(3){
    color: aqua;
}

/*p içerisindeki ilk i elementini al demek*/
p:first-child i{
    color: red;
}

/*p içerisindeki ilk i lerin hepsini al demek*/
p i:first-child{
    color: yellow;
}

/*p içerisindeki i lerden  son olanı al demek*/
p i:last-child{
    color: blue;
}