

.div1{
    position: relative;
    top: 200px;
    left: 300px;
    display: inline-block; /*inline-block yaptık tüm satırı kaplamasın diye*/
}

span{
    position: absolute; /*position:absolute diiyerek sayfadan bağımsız hale getirdik*/
    top: 25px;
    left:20px ;
    border: 1px solid gray;
    background-color: gray;
    color: white;
    border-radius: 2px;
    visibility: hidden; /*ekrandaki görünürlüğünü kapattı ekranda görünmez hale geldi*/
}

/*div1 elementine hover olunca span etiketinde olacak olan css kodlarını yazıyoruz*/
.div1:hover span{
visibility: visible; /*span etiketini görünür yaptık hover olunca*/
}