
a{
    font-size: 26px;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none; /*google altındaki çizgiyi kaldırıyor*/
    background-color: gray;
    color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 7px gray; /*gölgelendirme yapıyoruz*/
    opacity: 0.2;
    transition: opacity 3s;
}

a:hover{
    background-color: rgb(20,33,185);
    color: white;
    opacity: 1;
}